$text_color: #667085;
$white_color: #FFFFFF;
$black_color: #000000;
$gray_color: #6F767E;
$primary_color: #2A85FF;
$info_color: #2A85FF;
$success_color: #83BF6E;
$warning_color: #FFA114;
$danger_color: #FF6A55;
$secondary_color: #EFEFEF;